<? $row = $this->row; ?>
<? $marcas = $this->produtos->marcas(); ?>
<? $arqs = $this->arqs; ?>
</article>


<section id="produto">
	<article class="produto-interna main-center">
		<? $titulo = $row->titulo;//.' lorem titulo em duas linhas'; ?>
		<? $l2 = strlen($titulo) > 30 ? 'l2' : 'l1'; ?>
		<h1 class="produto-titulo <?=$l2?>"><span><?=$titulo?></span></h1>

		<? $marca = $marcas[$row->marca_id]; ?>
		<? $marca_img = IMG_URL.'/marcas/'.$marca->foto_path; ?>
		<? $marca_bg = 'style="background-image:url('.$marca_img.')"'; ?>
		<span class="marca" title="<?=$marca->titulo?>">
			<span class="marca-img" <?=$marca_bg?>><img src="<?=$marca_img?>" alt="<?=$marca->titulo?>"></span>
			<span class="marca-txt">venda<br>direta da<br>fábrica</span>
		</span>
		
		<div class="produto-left">
			<p class="descricao"><?=nl2br($row->descricao)?></p>

			<? $fotos = $this->fotos; ?>
			<? if($fotos) foreach($this->fotos as $foto){ ?>
			<? $img = IMG_URL.'/produtos/'.$foto->path; ?>
			<a href="<?=$img?>" class="img fancybox" rel="fotos">
				<img src="<?=$img?>" alt="Imagem de <?=$row->titulo?>">
			</a>
			<? } // /if (bool)$this->fotos ?>
			
			<? //if((bool)trim($row->path) && 1){ ?>
			<? if($arqs && 1){ ?>
			<? $hasFileName = 1;//(bool)trim($row->arquivo_nome); ?>
			<? $filename = 'Baixe arquivos técnicos e manuais deste produto';//$hasFileName ? $row->arquivo_nome : $row->titulo; ?>
			<!-- <a href="<?=FILE_URL.'/produtos/'.$row->path?>" class="produto-bt dl" download="<?=$filename?>"> -->
			<a href="#downloads" class="fancybox produto-bt dl" download="<?=$filename?>" data-fb-width="540">
				<span>DOWNLOAD</span>
				<?=($hasFileName) ? $filename : 'Baixar arquivo'?>
			</a>
			<? } // /if (bool)trim($row->path) ?>
			<a href="<?=URL.'/contato/orcamento/produto/'.$row->id?>" class="produto-bt orc">
				<span>ORÇAMENTO</span>
				Solicite seu orçamento<br>
				com noss área técnica
			</a>
		</div>
		<div class="produto-right produto-body">
			<?=$row->descricao_completa?>
		</div>
		<br clear="all">
	</article>
</section>


<? if($arqs){ ?>
<div id="produto-downloads-container">
<div id="downloads">
	<h3 class="titulo">Downloads</h3>
	<h4 class="titulo-produto"><?=$row->titulo?></h4>

	<ul>
		<? foreach($arqs as $arq){ ?>
		<? $file = FILE_URL.'/produtos/'.$arq->path; ?>
		<? $hasFileName = (bool)trim($arq->descricao); ?>
		<? $filename = $hasFileName ? $arq->descricao : $row->titulo; ?>
		<li>
			<a href="<?=$file?>" download="<?=$filename?>" id="file-<?=$arq->id?>">
				<?=$filename?>
			</a>
		</li>
		<? } // /foreach arqs ?>
	</ul>
	<br clear="all">
</div>
</div>
<? } // /if arqs ?>


<? $fotos2 = $this->fotos2; ?>
<? if($fotos2){ ?>
<section id="galeria" class="main-center">
	<h3><?=$row->titulo?> - APLICAÇÕES</h3>

	<? foreach($fotos2 as $foto){ ?>
	<? $img = IMG_URL.'/produtos/'.$foto->path; ?>
	<? $style = 'style="background-image:url('.$img.')"'; ?>
	<a href="<?=$img?>" class="foto fancybox" rel="galeria" <?=$style?>>
		<img src="<?=$img?>">
	</a>
	<? } // /foreach this->fotos2 ?>

	<br clear="all">
</section>
<? } // /if (bool)$this->fotos2 ?>


<? if($this->categoria){ ?>
<? $cat = $this->categoria; ?>
<div id="categoria-wrapper">
<section id="categoria" class="main-center">
	<div class="categoria-left">
		<h2><span>Saiba mais sobre</span> <?=$cat->descricao?></h2>
		<h3>Entenda a tecnologia</h3>
		<p><?=nl2br($cat->body)?></p>
	</div>
	<div class="categoria-right">
		<? foreach($cat->produtos as $pro){ ?>
		<? $marca = $marcas[$pro->marca_id]; ?>
		<? $img_marca = IMG_URL.'/marcas/'.$marca->foto_path; ?>
		<? $img = IMG_URL.'/produtos/'.$pro->foto_path; ?>
		<? $url = URL.'/produto/'.$pro->alias.'-'.$pro->id; ?>
		<? $style = 'style="background-image:url('.$img.')"'; ?>
		<a href="<?=$url?>" class="cat-pro" <?=$style?>>
			<span class="titulo"><?=$pro->titulo?></span>
			<span class="marca"><img src="<?=$img_marca?>"></span>
		</a>
		<? } // /foreach cat->produtos ?>
	</div>
	<br clear="all">
</section>
</div>
<? } // /if $this->categoria ?>


<article>

<br clear="all">
<br clear="all">
<div class="main-center">
<?=$this->render('lajes/index.phtml')?>
</div>

