</article>


<section id="suporte">
<article class="main-center">
	<h1>SUPORTE</h1>

	<div id="downloads">
		<h3 class="titulo">Downloads</h3>

		<form action="#" id="frm-download">
			<select name="produto_id" id="produto_id">
				<option value="" data-file="">Todos os produtos [Selecione...]</option>
				<? $comboOk = array(); ?>
				<? foreach($this->arqs as $row){ ?>
				<? if(in_array($row->produto_id, $comboOk)){ continue; } ?>
				<option value="<?=$row->produto_id?>" data-file="<?=$row->path?>"><?=$row->titulo?></option>
				<? $comboOk[] = $row->produto_id; ?>
				<? } // /foreach this->produtos ?>
			</select>
			<input type="hidden" name="file" id="file" value="">
			<input type="submit" class="hidden">
			<!-- <a href="#" class="submit">Baixar arquivo</a> -->
		</form>

		<ul>
			<? //foreach($this->produtos as $row){ ?>
			<? foreach($this->arqs as $row){ ?>
			<? $file = FILE_URL.'/produtos/'.$row->path; ?>
			<? //$hasFileName = (bool)trim($row->arquivo_nome); ?>
			<? $hasFileName = (bool)trim($row->descricao); ?>
			<? //$filename = $hasFileName ? $row->arquivo_nome : $row->titulo; ?>
			<? $filename = $hasFileName ? $row->descricao : $row->titulo; ?>
			<li class="li-fp-<?=$row->produto_id?>">
				<a href="<?=$file?>" download="<?=$filename?>" id="file-<?=$row->id?>">
					<?=$filename?>
				</a>
			</li>
			<? } // /foreach this->produtos ?>
		</ul>
	</div>

	<div id="faqs" class="accordion-wrapper">
		<h3 class="titulo">Perguntas Frequentes</h3>

		<? foreach($this->faqs as $row){ ?>
		<a href="#faq-<?=$row->id?>" class="pergunta accordion-item">
			<?=$row->pergunta?>
		</a>

		<div id="faq-<?=$row->id?>" class="resposta accordion-content">
			<?=$this->bbCode($row->resposta)?>
		</div>
		<? } ?>
	</div>
</article>
</section>


<article>