<?=$this->mensagens?Js::script('var mensagens = '.json_encode($this->mensagens).';'):""?>
<?=$this->render($this->section."/search.phtml");?>

<div class="<?-$this->section?> search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td width="30" align="center">
                    <input type="checkbox" name="check_del_all" id="check_del_all" title="Selecionar todos" />
                </td>
                <td width="150">Ref.</td>
                <? if($this->search_treinamentos){ ?>
                <td width="150">Tema</td>
                <? } ?>
                <td width="170">Nome</td>
                <td width="170">E-mail</td>
                <td>Mensagem / Assunto</td>
                <td width="100" align="center">Data de envio</td>
                <!-- <td width="50" align="center">Status</td> -->
                <!-- <td width="50" align="center">Excluir</td> -->
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? //$status = $row->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <? $texto = (bool)trim($row->mensagem) ? $row->mensagem : $row->assunto; ?>
            <tr>
                <td width="30" align="center">
                    <input type="checkbox" name="check_del[]" class="check-del" id="check_del_<?=$row->id?>" value="<?=$row->id?>" title="Selecionar" />
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=@$row->_mensagem->titulo?></a>
                </td>
                <? if($this->search_treinamentos){ ?>
                <td width="150"><?=$row->_treinamento->titulo?></td>
                <? } ?>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->nome?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->email?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=Is_Str::crop(strip_tags(Is_Str::br2nl($texto," ")),80)?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$data_cad?></a>
                </td>
                <?/*<td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$status?></a>
                </td>*/?>
                <?/*<td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/del/id/<?=$row->id?>/" class="del">X</a>
                </td>*/?>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=$this->paginacao->render()?>