<?=Js::script('allow_photos = '.($this->allow_photos ? 'true' : 'false').';')?>
<? /*if($this->id){ ?>
<div class="content-right">
    <div id="previa">
        <?=$this->render('mensagens/previa.phtml');?>
    </div>
</div>
<? }*/ ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="frm-mensagens-contato" class="<?=$this->form->getId();?>">
        <ul>
            <? if($this->id){ ?>
            <li class="txt">
                <label for="">Referência</label>

                <? if($this->row->_arquivo){ $arq = $this->row->_arquivo; ?>
                <? $ext = '.'.end(explode('.',$arq->path)); ?>
                <!-- <a href="<?=FILE_PATH.'/contato/'.$arq->path?>" class="txt link-download" download="<?=$arq->descricao?>" title="<?=$arq->descricao?>" target="blank">Ver aquivo &raquo;</a> -->
                <a href="<?=FILE_PATH.'/contato/'.$arq->path?>" class="txt link-download bt" title="<?=$arq->descricao?>" target="blank">Ver arquivo &raquo;</a>
                <? } ?>

                <a class="txt link-mensagem-contato" href="#" target="_blank">
                    <?=$this->row->_mensagem->titulo?> -
                    <?=$this->row->_mensagem->subject?>
                </a>
            </li>
            <? } ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>" class="lbl-<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        <?/*<div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>*/?>
    </form>
</div>