</article>

<div id="servicos">
	<h1><?=$this->titulo?></h1>
	
	<div id="servicos-list" class="main-center">
		<? $i=0; foreach($this->rows as $row){ $i++; ?>
		<? $hasImg = trim($row->foto_path); ?>
		<? $img = IMG_URL.($hasImg ? '/servicos/'.$row->foto_path : '/not-found.jpg'); ?>
		<? $style = $hasImg ? 'style="background-image:url('.$img.')"' : ''; ?>
		<? $class = $hasImg ? 'has-img ' : 'no-img '; ?>
		<? $class.= $i%2==0 ? 'dir '     : 'esq '; ?>
		<div class="servico <?=$class?>" id="<?=$row->alias?>">
			<? if($hasImg){ ?>
			<figure class="img" <?=$style?>>
				<img src="<?=$img?>" alt="<?=$row->titulo?>">
			</figure>
			<? } // /if $hasImg ?>
			<h3><?=$row->titulo?></h3>
			<div class="body"><?=$row->body?></div>
		</div>
		<? } // /foreach this->rows ?>
	</div>
</div>

<article>