<?=$this->render('lajes/index.phtml')?>

</article>

<div id="noticias-wrapper">
	<section id="noticias" class="main-center">
		<h3 class="subtitulo">NOTÍCIAS RECENTES</h3>

		<? $i=0; foreach($this->noticias as $row){ $i++; ?>
		<? $url = $row->_url; ?>
		<? $img = trim($row->capa_path) ? $row->capa_path : $row->foto_path; ?>
		<? if($img){ $img = IMG_URL.'/noticias/'.$img; } ?>
		<? $style = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
		<? $class = $img ? 'has-img' : 'no-img'; ?>
		<a href="<?=$url?>" class="noticia <?=$class?>">
			<? if($img){ ?>
			<span class="img" <?=$style?>>
				<img src="<?=$img?>" alt="<?=$row->titulo?>">
			</span>
			<? } // /if $img ?>
			<?=$row->titulo?>
		</a>
		<? } // /foreach this->noticias ?>
	</section>
	<br clear="all">
</div>

<div id="depoimentos-wrapper">
	<section id="depoimentos" class="main-center">
		<h3 class="subtitulo">DEPOIMENTOS</h3>
		<a href="#" id="dep-prev" title="Anterior">Anterior</a>
		<a href="#" id="dep-next" title="Próximo">Próximo</a>

		<ul id="depoimentos-list">
			<? $i=0; foreach($this->depoimentos as $row){ $i++; ?>
			<? $img = IMG_URL.'/depoimentos/'.$row->foto_path; ?>
			<? $bg = 'style="background-image:url('.$img.')"'; ?>
			<li class="depoimento slide-<?=$i?>">
				<span class="nome">
					<b><?=$row->nome?></b>
					<?=$row->empresa?>
				</span>
				<span class="img" <?=$bg?>>
					<img src="<?=$img?>">
				</span>
				<span class="texto">
					<?=nl2br($row->body)?>
				</span>
			</li>
			<? } ?>
		</ul>
	</section>
	<br clear="all">
</div>

<article>