.nivoSlider{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;-o-box-shadow:none !important;-ms-box-shadow:none !important;box-shadow:none !important;z-index:1 !important;}

#banner-index .nivo-caption{
        position:absolute !important;
        bottom:0px !important;right:0 !important;
        opacity:1 !important;height:100px !important;background:transparent;}
#banner-index .nivo-caption a{border:none !important;}
#banner-index .nivo-caption h2{
        position:absolute !important;
        bottom:30px !important;right:0 !important;
        width:auto !important;height:auto !important;
        background:#000 !important;
        font-style:italic !important;
        text-align:right !important;
        color:#fff !important;text-transform:none !important;max-width:260px !important;
        z-index:12 !important;}

#banner-index .nivo-caption h2 a{
        font-family:Georgia,Verdana,Arial,sans-serif !important;
        font-size:16px !important;
        color:#fff !important;}

.theme-default .nivo-controlNav {
	position:absolute;
	left:auto;bottom:-5px;right:-5px;
    margin-left:auto; /* Tweak this to center bullets */
    z-index:11;
}
.theme-default .nivo-controlNav a {
    float:left;
    padding:3px 5px;
    background:#CFA859;
    font-weight:bold;
    margin-left:5px;
    color:#fff;
	display:block;
	width:auto;
	height:auto;
	text-indent:inherit;
	border:0;
	margin-right:0;
}
.theme-default .nivo-controlNav a.active {
	background-position:auto;color:#000;
}