<section id="obras">
	<h1>GALERIA DE OBRAS</h1>

	<? $i=0; foreach($this->obras as $row){ $i++; ?>
	<? $url = URL.'/obra/'.$row->alias.'-'.$row->id; ?>
	<? $img = trim($row->capa_path) ? $row->capa_path : $row->foto_path; ?>
	<? $class = $img ? 'has-img' : 'no-img'; ?>
	<? if($img){ $img = IMG_URL.'/obras/'.$img; } ?>
	<? $bg = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
	<? $class.= ' obra-'.($i%2==0 ? 2 : 1); ?>
	
	<a href="<?=$url?>" class="obra <?=$class?>">
		<span class="img" <?=$bg?>>
			<img src="<?=$img?>">
		</span>
		<span class="titulo"><?=$row->titulo?></span>
		<?=$row->descricao?>
	</a>
	
	<? if($i%2==0){ ?>
	<br class="desktop" clear="all">
	<br class="mobile-tablet" clear="all">
	<? } // /if $i%2==0 ?>
	
	<? } // /foreach this->obras ?>
</section>