<? $row = $this->obra; ?>

<h1>GALERIA DE OBRAS</h1>

</article>
<div id="title-wrapper">
<div id="title-container" class="main-center">
	<h2 class="titulo"><?=$row->titulo?></h2>
	<?=$row->body?>
</div>
</div>
<article>

<section id="obra" class="main-center interna">
	<ul class="fotos">
		<? $cntFotos = count($this->fotos); $colFotos = floor($cntFotos / 3); ?>
		<? $i = 0; foreach($this->fotos as $foto){ $i++; ?>
		<? $img = IMG_URL.'/obras/'.$foto->path; ?>
		<li>
			<a href="<?=$img?>" class="img fancybox" rel="galeria">
				<img src="<?=$img?>" alt="<?=$row->titulo?>">
			</a>
		</li>
		<? if($i==$colFotos||$i==$colFotos*2){ ?>
		</ul><ul class="fotos">
		<? } // /if(i) ?>
		<? } // /foreach this->fotos ?>
	</ul>
</section>


</article>
<? if($this->videos){ ?>
<div id="videos-wrapper">
<div id="videos" class="main-center">
	<h3>VÍDEOS</h3>

	<? $i = 0; foreach($this->videos as $video){ $i++; ?>
	<? $vid = _checkVideoStr($video->url); ?>
	<? $img = $vid->thumbnail; ?>
	<? $style = 'style="background-image:url('.$img.')"'; ?>
	<? $class = ''; ?>
	<? if($i%3==0){ $class.= ' last-desk'; } ?>
	<? if($i%2==0){ $class.= ' last-tab'; } ?>
	<a href="<?=$vid->embedUrl?>" class="video video-fancybox <?=$class?>" rel="videos" <?=$style?>>
		<img src="<?=$img?>">
	</a>
	<? if($i%3==0){ ?><br class="desktop" clear="all"><? } ?>
	<? if($i%2==0){ ?><br class="mobile-tablet" clear="all"><? } ?>
	<? } // /foreach this->fotos ?>
</div>
</div>
<? } // /if $this->videos ?>
<article>

<div class="link-voltar-wrapper main-center">
	<a href="<?=URL?>/obras" class="link-voltar">
		<img src="<?=CSS_URL?>/img/seta-voltaar.png">
		Voltar
	</a>
</div>

