<div class="search-bar">
    <form action="" method="post" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label> 
        <select name="search-by" id="search-by" class="txt">
            <option value="descricao">Nome</option>
        </select>
        <input type="text" class="txt" name="search-txt" id="search-txt" />
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>