<div id="pagina">
	<? if((bool)trim($this->pagina->fotos_fixas->foto1)){ ?>
	<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; ?>
	<figure class="img">
		<img src="<?=$img?>" alt="">
	</figure>
	<? } // /if (bool)trim($this->pagina->fotos_fixas->foto1) ?>
	
	<div class="body1">
		<?=$this->pagina->body?>
	</div>

	<div class="body2">
		<?=$this->pagina->body2?>
	</div>
</div>

</article>

<div id="diferenciais">
	<div class="main-center">

	<h2>DIFERENCIAIS</h2>

	<? $i=0; foreach($this->diferenciais as $row){ $i++; ?>
	<span class="dif" id="dif-<?=$row->id?>">
		<?=$row->descricao?>
	</span>
	<? if($i%2==0){ ?><br class="mobile-tablet"><? } ?>
	<? if($i%3==0){ ?><br class="desktop"><? } ?>
	<? } // /foreach this->diferenciais ?>

	</div> <!-- .main-center -->
</div>

<div id="pagina2">
	<div class="main-center">

	<h2>O QUE FAZEMOS</h2>

	<div class="body">
		<?=$this->pagina2->body?>
	</div>
	
	</div> <!-- .main-center -->
</div>

<div id="pagina3">
	<div class="main-center">

	<? if((bool)trim($this->pagina3->fotos_fixas->foto1)){ ?>
	<? $img = IMG_URL.'/paginas/'.$this->pagina3->fotos_fixas->foto1; ?>
	<figure class="img">
		<img src="<?=$img?>" alt="">
	</figure>
	<? } // /if (bool)trim($this->pagina3->fotos_fixas->foto1) ?>

	<h2>MANIFESTO</h2>

	<div class="body">
		<?=$this->pagina3->body?>
	</div>
	
	</div> <!-- .main-center -->
</div>

<div id="clientes">
	<div class="main-center">

	<h2>ALGUNS DE NOSSOS CLIENTES</h2>

	<? $i=0; foreach($this->clientes as $row){ $i++; ?>
	<? $img = IMG_URL.'/clientes2/'.$row->foto_path; ?>
	<? $style = 'style="background-image:url('.$img.')"'; ?>
	<span class="cli" id="cli-<?=$row->id?>" <?=$style?>>
		<?=$row->titulo?>
	</span>
	<? } // /foreach this->clientes ?>

	</div> <!-- .main-center -->
</div>

<article>