<script>
$(document).ready(function(){
    $("#submit").click(function(e){
        // if($.trim($("#endereco").val()).length == 0 || $.trim($("#tel1").val()).length == 0 || $.trim($("#email").val()).length == 0){
        if($.trim($("#email").val()).length == 0 || $.trim($("#tel1").val()).length == 0 || $.trim($("#email").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<div id="form-new">
    <form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <? if($elm->getId()=='id'){ echo $elm->render(); continue; } ?>
            <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? if($elm->getId() == "senha"){ ?><!--<br clear="all" />--><? } ?>
            <? } ?>
        </ul>
        <br clear="all" />
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
            <input type="hidden" name="action" value="<?=$this->action?>" />
        </div>
    </form>
</div>