<script type="text/javascript">var _NAME = '<?=$this->name?>'</script>

<div id="form-new">
    <? if($this->id){ ?>
    <div id="fotos" class="file_upload_<?=$this->name?>">
        <form id="file_upload_home" action="<?=$this->url?>upload.json?id=<?=$this->id?>&name=<?=$this->name?>" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button>Enviar imagem</button>
            <div>Enviar imagem</div>
            <input type="hidden" name="<?=$this->section?>_id" id="<?=$this->section?>_id" value="<?=$this->id?>" />
        </form>
        
        <table id="file_upload_list" cellspacing="0" width="100%">
            <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
        </table>
    </div>
    <? } ?>
    
    <form action="<?=$this->url.$this->name?>-save" method="post" id="frm-banner-home" class="frm-banner-home <?=$this->id?'edit':'new'?>">
        <ul>
            <li class="txt">
                <label for="nome">Descrição:</label>
                <input type="text" class="txt" id="nome" name="nome" value="<?=($this->id?$this->data->nome:'')?>" />
            </li>
            
            <li class="txt">
                <label for="status_id">Ativo:</label>
                <?=$this->formCheckbox('status_id',1,null,array('checked'=>(bool)$this->data->status_id))?>
            </li>
            
            <? if($this->id){ ?>
            <?=$this->formHidden('id',$this->id)?>
            </ul>
            
            
            <div class="banner-home-wrapper">
                <? $style = $this->data->foto ?
                        'style="background-image:url('.
                            URL.'/img/'.$this->section.':'.
                            $this->data->foto->path.
                            '?w=740&h=514'.
                            ')"' :
                        ''; ?>
                <div class="banner" <?=$style?>>
                    <span class="preview pretitulo">
                        <?=$this->data->pretitulo?>
                    </span>
                    
                    <span class="preview titulo">
                        <?=$this->data->titulo?>
                    </span>
                    
                    <span class="preview subtitulo">
                        <?=$this->data->subtitulo?>
                    </span>
                    
                    <span class="preview texto">
                        <?=nl2br($this->data->texto)?>
                    </span>
                </div>
            </div>
            
            <ul class="banner-configs">
            <li class="txt">
                <label for="pretitulo">Pré-título:</label>
                <input type="text" class="txt" id="pretitulo" name="pretitulo" value="<?=$this->data->pretitulo?>" maxlength="<?=$this->table_meta['pretitulo']['LENGTH']?>" />
            </li>
            
            <li class="txt">
                <label for="titulo">Título:</label>
                <input type="text" class="txt" id="titulo" name="titulo" value="<?=$this->data->titulo?>" maxlength="<?=$this->table_meta['titulo']['LENGTH']?>" />
            </li>
            
            <li class="txt">
                <label for="subtitulo">Subtítulo:</label>
                <input type="text" class="txt" id="subtitulo" name="subtitulo" value="<?=$this->data->subtitulo?>" maxlength="<?=$this->table_meta['subtitulo']['LENGTH']?>" />
            </li>
            
            <li class="txt">
                <label for="texto">Texto:</label>
                <textarea class="txt" id="texto" name="texto" maxlength="<?=$this->table_meta['texto']['LENGTH']?>"><?=$this->data->texto?></textarea>
            </li>
            
            <li class="txt">
                <label for="link">Link:</label>
                <input type="text" class="txt" id="link" name="link" value="<?=$this->data->link?>" maxlength="<?=$this->table_meta['link']['LENGTH']?>" />
            </li>
            
            </ul>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>