<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = defined('SITE_KEYWORDS') ? SITE_KEYWORDS : Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:FULL_URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    FILE_PATH  = "<?=FILE_PATH?>",
    IMG_URL    = "<?=IMG_URL?>",
    FILE_URL   = "<?=FILE_URL?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    SITE_NAME  = "<?=SITE_NAME?>",
    APP_ENV    = <?=(APP_ENV) ? 'true' : 'false'?>,
    ENV_DEV    = <?=(ENV_DEV) ? 'true' : 'false'?>,
    ENV_PRO    = <?=(ENV_PRO) ? 'true' : 'false'?>,
    ENV_TEST   = <?=(ENV_TEST) ? 'true' : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<? $cssFonts = array(
    'Lato:300,300i,400,400i,700,700i',
    'Montserrat:300,300i,400,400i,700,700i',
); ?>
<link href="https://fonts.googleapis.com/css?family=<?=implode('|',$cssFonts)?>" rel="stylesheet">
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <header id="top" class="top-<?=$this->controller?> main-center">
        <div class="top-container">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>

        <div class="top-tel">
            <nav class="links">
                <a class="tel wp" href="http://api.whatsapp.com/send?phone=55<?=Is_Cpf::clean($this->dados->tel4)?>" target="_blank"><?=$this->dados->tel4?></a>
                <a href="<?=$this->dados->facebook?>" class="social fb" target="_blank" title="Siga-nos no Facebook!">Siga-nos no Facebook!</a>
                <a href="<?=$this->dados->linkedin?>" class="social li" target="_blank" title="Siga-nos no LinkedIn!">Siga-nos no LinkedIn!</a>
            </nav>
            <span class="venda">VENDA DIRETA DA FÁBRICA</span>
        </div>
        
        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
        </div> <!-- /.top-container -->
    </header>
    
    <section id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <?=($this->controller=='index') ? $this->render('index/slideshow.phtml') : ''?>
        <article class="main-center"><?=$this->layout()->content;?></article>
        <br clear="all" />
    </section>

    <section id="newsletter-container">
        <div id="newsletter" class="main-center">
            <form action="<?=URL?>/index/newsletter" class="newsletter-form frm1" method="post">
                <span class="titulo">CADASTRE-SE PARA ACOMPANHAR NOSSAS NOVIDADES:</span>
                <input type="text" class="txt" name="nome" placeholder="nome" required>
                <input type="email" class="txt" name="email" placeholder="e-mail" required>
                <a href="#" class="submit">Cadastrar</a>
                <input type="submit" id="input-submit" class="hidden" value="Cadastrar">
                <div class="response status">&nbsp;</div>
            </form>
        </div>
    </section>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer class="main-center">
        <div id="footer-dados">
            <a href="tel:<?=Is_Cpf::clean($this->dados->tel1)?>" class="tel"><b><?=$this->dados->tel1?></b></a> <br>
            <a href="http://api.whatsapp.com/send?phone=55<?=Is_Cpf::clean($this->dados->tel4)?>" class="tel wp" target="_blank"><b><?=$this->dados->tel4?></b></a> <br>
            <a href="mailto:<?=$this->dados->email?>" class="email"><?=$this->dados->email?></a> <br>
            <br>
            Horário de atendimento: <br>
            <b><?=nl2br($this->dados->atendimento)?></b> <br>
            <br>
            Unidades de produção (direto da fábrica): <br>
            <b>_ <?=str_replace("\n",'<br>_ ',$this->dados->unidades)?></b> <br>
        </div>
        <nav class="footer-menus" id="footer-menus">
            <?=$this->navigation()->menu($this->menu->footer1)->setUlClass('footer-menu1');?>
            <?=$this->navigation()->menu($this->menu->footer2)->setUlClass('footer-menu2');?>
            <?=$this->navigation()->menu($this->menu->footer3)->setUlClass('footer-menu3');?>
        </nav>
    </footer>
    <footer class="credits">
        &copy; <?=date("Y")?> <?=SITE_TITLE?> Vendas Técnicas e Serviços &middot; Todos os direitos reservados. | 
        <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
        <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
    </footer>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(1 && ENV_PRO && defined('SITE_ANALYTICS')){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<?=SITE_ANALYTICS?>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>