<?=Css::load(CSS_PATH.'/admin/gramaturas.less')?>
<?=Js::script('var GRAMATURAS = '.json_encode((array)$this->gramaturas).';')?>
<?=Js::load(JS_PATH.'/admin/gramaturas.js')?>

<h3>&raquo; Gramaturas</h3>

<form action="" class="frm-gramaturas">
    <input type="text" class="txt" id="gramaturas-search" />
    <input type="hidden" id="gramaturas-id" />
    <input type="submit" class="bt" id="gramaturas-submit" value="Ok" />
</form>

<ul class="gramaturas-list">
    <? if($this->gramaturas_list){ foreach($this->gramaturas_list as $gramatura){ ?>
    <li><?=$gramatura->gramatura?>
        <button class="ui-state-default ui-corner-all gramaturas-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="gramaturas-id" value="<?=$gramatura->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplGramaturas">
    <li>${value}
        <button class="ui-state-default ui-corner-all gramaturas-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="gramaturas-id" value="${id}" />
    </li>
</script>