<?=Js::script('var MAX_FILES = '.($this->MAX_FILES ? $this->MAX_FILES : '0').';')?>
<?=(bool)$this->cores?Js::script('var CORES = '.json_encode($this->cores).';'):""?>

<? if($this->id){ ?>
<div class="content-right">
    <div id="fotos">
        <h3>&raquo; Imagens do produto</h3>
        <?=$this->render('produtos/fotos.phtml');?>
    </div>
    <div id="fotos2">
        <h3>&raquo; Galeria / Aplicações</h3>
        <?=$this->render('produtos/fotos2.phtml');?>
    </div>
    <div id="arquivos">
        <h3>&raquo; Arquivos</h3>
        <?=$this->render('produtos/arquivos.phtml');?>
    </div>
    <?/*<div id="sugestoes">
        <?=$this->render('produtos/sugestoes.phtml');?>
    </div>*/?>
    
    <? if($this->formatos){ ?>
    <div id="formatos">
        <?=$this->render($this->section.'/formatos.phtml');?>
    </div>
    <? } ?>
    
    <? if($this->gramaturas){ ?>
    <div id="gramaturas">
        <?=$this->render($this->section.'/gramaturas.phtml');?>
    </div>
    <? } ?>
</div>
<? } ?>

<? //$produto = $this->getHelper('produtos'); $produto->setInfo($this->info); ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>" enctype="multipart/form-data">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>

            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() == "file" && (bool)trim(@$this->row->path)){ ?>
                <label for="<?=$elm->getId()?>">Alterar arquivo</label>
                <? } else if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                <?=$elm->render();?>

                <? if($elm->getId()=='file'){ ?>
                <input type="text" name="arquivo_nome" id="arquivo_nome" class="txt" value="<?=@$this->row->arquivo_nome?>" placeholder="Nome do arquivo">
                <? } // /if $elm->getId()=='file' ?>
                
                <? if($elm->getId() == "peso"){ ?>
                <span class="kg">Kg</span>
                <? } ?>
            </li>

            
            <? if($elm->getId()=='categoria_id' && $this->aplicacoes){ ?>
            <li class="aplicacao">
                <label for="">Aplicação</label>
                
                <ul class="aplicacao-list">
                    <? $cntApl = count($this->aplicacoes); ?>
                    <? $i=0; foreach($this->aplicacoes as $apl){ $i++; ?>
                    <? $chk = ''; ?>
                    <? if($this->row){ if(strstr($this->row->aplicacoes, ','.$apl->id.',')) { $chk = 'checked="checked"'; } } ?>
                    <li>
                        <label>
                            <input type="checkbox" name="aplicacao[]" value="<?=$apl->id?>" class="chk chk-apl" <?=$chk?>>
                            <?=$apl->descricao?>
                        </label>
                    </li>
                    <? if($i>=$cntApl/2){ ?></ul><ul><? } // /if $i>= ?>
                    <? } // /foreach this->aplicacoes ?>
                    <input type="hidden" value="<?=@$this->row->aplicacoes?>" name="aplicacoes" id="aplicacoes">
                </ul>
            </li>
            <? } // /if $elm->getId()=='categoria_id' ?>


            <? if($elm->getId()=='file' && (bool)trim(@$this->row->path)){ ?>
            <li class="file">
                <label for="">&nbsp;</label>
                <a href="<?=FILE_URL.'/produtos/'.$this->row->path?>" target="_blank">Visualizar arquivo atual &rarr;</a>
            </li>
            <? } // /if $elm->getId()=='file' ?>

            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>

        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
    <br><br>
</div>