<section id="lajes-busca">
	<h2><?=$this->titulo2?></h2>
	
	<?=$this->render('lajes/busca-aplicacao.phtml')?>

	<div id="aplicacao-container">
	<? $apl_active = $this->busca_aplicacao_active; ?>
	<? $apls = $this->busca_aplicacoes; ?>
	<? foreach($apls as $apl){ ?>
	<? $class = ''; ?>
	<? if(@$apl_active->id==$apl->id){ $class = 'active'; } ?>
	<? $aplHasProds = (bool)$apl->produtos; ?>
	<? if($aplHasProds){ $class.= ' has-prods'; } ?>
	<div class="aplicacao <?=$class?>" id="aplicacao-<?=$apl->id?>">
		<div class="body"><?=nl2br($apl->body)?></div>

		<? if($aplHasProds){ ?>
		<ul class="apl-prods">
			<? foreach($apl->produtos as $pro){ ?>
			<? $url = URL.'/produto/'.$pro->alias.'-'.$pro->id; ?>
			<li>
				<a href="<?=$url?>" class="aplpro">
					<?=$pro->titulo?>
				</a>
			</li>
			<? } // /foreach apl->produtos ?>
		</ul>
		<? } // /if $apl->produtos ?>
	</div>
	<? } // /foreach apls ?>
	</div> <!-- #aplicacao-container -->

	<?=$this->render('lajes/busca-produto.phtml')?>
</section>