<? if($this->busca_categorias){ ?>
<div id="busca-produto">
	<h3>BUSCAR POR PRODUTO:</h3>

	<div id="catpro-lists">
	<? $i=0; foreach($this->busca_categorias as $cat){ $i++; ?>
	<? $img = IMG_URL.'/categorias/'.$cat->foto_path; ?>
	<? $img = URL.'/img/categorias:'.$cat->foto_path.'?w=200&h=70'; ?>
	<? $style = '';//'style="background-image:url('.$img.')"'; ?>
	<ul class="catpro-list list-<?=$i?>">
		<li class="titulo">
			<?=$cat->descricao?>
		</li>
		<li class="img" <?=$style?>>
			<img src="<?=$img?>" alt="<?=$cat->body?>">
		</li>
		<li class="rows">
			<ul>
				<? foreach($cat->produtos as $pro){ ?>
				<? $url_pro = URL.'/produto/'.$pro->alias.'-'.$pro->id; ?>
				<li>
					<a href="<?=$url_pro?>" class="catpro">
						<?=$pro->titulo?>
					</a>
				</li>
				<? } // /foreach cat->produtos ?>
			</ul>
		</li>
		<li class="smais">
			<a href="#" class="mais">saber mais &raquo;</a>
		</li>
	</ul>
	<? } // /foreach this->busca_categorias ?>
	
	</div> <!-- /#catpro-lists -->
</div>
<? } // /if $this->busca_categorias ?>