<? if($this->busca_aplicacoes){ ?>
<div id="busca-aplicacao">
	<h3>BUSCAR POR APLICAÇÃO:</h3>
	
	<div id="catapl-lists">
	<? $i=0; foreach($this->busca_aplicacoes as $apl){ $i++; ?>
	<? $url = URL.'/lajes/aplicacao/'.$apl->alias.'-'.$apl->id; ?>
	<? $class = ''; ?>
	<? if(@$this->busca_aplicacao_active->id==$apl->id){ $class = 'active'; } ?>
	<ul class="catapl-list list-<?=($i%2==0)?2:1?> <?=$class?>">
		<li class="titulo">
			<a href="<?=$url?>"><?=$apl->descricao?></a>
		</li>
		<li class="smais">
			<a href="<?=$url?>" class="mais">saber mais &raquo;</a>
		</li>
	</ul>
	<? } // /foreach this->busca_categorias ?>
	
	</div> <!-- /#catapl-lists -->
</div>
<? } // /if $this->busca_aplicacoes ?>