<div class="content-text">
    <div class="dados">
        <a href="tel:<?=Is_Cpf::clean($this->dados->tel1)?>" class="tel"><b><?=$this->dados->tel1?></b></a> <br>
        <a href="http://api.whatsapp.com/send?phone=55<?=Is_Cpf::clean($this->dados->tel4)?>" class="tel wp" target="_blank"><b><?=$this->dados->tel4?></b></a> <br>
        <a href="mailto:<?=$this->dados->email?>" class="email"><?=$this->dados->email?></a> <br>
        <br>
        <p><?=nl2br($this->dados->tel4_descricao)?></p>
        <br>
        Horário de atendimento: <br>
        <b><?=nl2br($this->dados->atendimento)?></b> <br>
        <br>
        Unidades de produção (direto da fábrica): <br>
        <b><?=str_replace("\n",' | ',$this->dados->unidades)?></b> <br>
    </div>
    
    <div class="contato-right">
    <form action="" class="contato" method="post">
        <h2>
            Fale conosco
            <span>Estamos aguardando seu contato</span>
        </h2>
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="nome" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="e-mail" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
            </li>
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="mensagem"></textarea>
            </li>
            <li class="submit-container">
                <input type="submit" class="hidden">
                <a href="#" id="submit">Enviar</a>
                <span class="status"></span>
            </li>
        </ul>
    </form>

    <a href="<?=URL?>/contato/orcamento" class="link-orcamento">
        Solicite o seu orçamento aqui
        <span>Obras de até 100m² têm restrição de atendimento em função de custos operacionais.</span>
    </a>
    </div> <!-- /.contato-right -->

    <br clear="all" />
</div>