</article>

<div id="orcamento-wrapper">
<article id="orcamento" class="main-center">
	<h1><?=$this->pagina->titulo?></h1>

	<div class="orc-left">
		<div class="body"><?=$this->pagina->body?></div>
		<div class="body2"><?=$this->pagina->body2?></div>
	</div>

	<div class="orc-right">
		<form action="<?=URL?>/contato/orcamento-enviar" class="contato" method="post" enctype="multipart/form-data">
	        <h2>
	            Solicite o seu orçamento aqui
	            <span>Obras de até 100m² têm restrição de atendimento em função de custos operacionais.</span>
	        </h2>
	        <ul class="first">
	            <li class="li-nome">
	                <input type="text" name="nome" id="nome" class="txt required" placeholder="nome" />
	            </li>
	            <li class="li-email">
	                <input type="text" name="email" id="email" class="txt required" placeholder="e-mail" />
	            </li>
	            <li class="li-telefone half half-1">
	                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
	            </li>
	            <li class="li-local">
	                <input type="text" name="local" id="local" class="txt required" placeholder="local da obra (cidade/bairro)" />
	            </li>
	            <li class="li-fase">
	                <select name="fase" id="fase" class="txt">
	                	<option value="">fase da obra [selecione...]</option>
	                </select>
	            </li>
	            <li class="li-tipo">
	            	<?=$this->formSelect('tipo',@$this->produto_id,array('class'=>'txt required'),$this->proKV)?>
	                <!-- <select name="tipo" id="tipo" class="txt required">
	                	<option value="">tipo de laje [selecione...]</option>
	                </select> -->
	            </li>
	            <li class="li-mensagem">
	                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="comentários ou informações mínimas para o orçamento: maior vão, sobrecarga, área total estimada por pavimento."></textarea>
	            </li>
	            <li class="li-file">
	            	<!-- <a href="#" class="anexar">
	            		ANEXAR PROJETO (dwg | dxf | pdf | jpg | word | excel)
	            	</a> -->
                	<input type="file" name="arquivo" id="arquivo" class="arquivo orcamento  " />
	            </li>
	            <li class="submit-container">
	                <input type="submit" class="hidden">
	                <a href="#" id="submit">Enviar</a>
	                <span class="status"></span>
	            </li>
	        </ul>
	    </form>
	</div>
</article>
</div>

<article>