<div id="noticias" class="main-center">
	<h1><?=$this->titulo?></h1>

	<? $i=0; foreach($this->noticias as $row){ $i++; ?>
	<? $url = URL.'/noticia/'.$row->alias.'-'.$row->id; ?>
	<? $img = trim($row->capa_path) ? $row->capa_path : $row->foto_path; ?>
	<? if($img){ $img = IMG_URL.'/noticias/'.$img; } ?>
	<? $style = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
	<? $class = $img ? 'has-img' : 'no-img'; ?>
	<? if($i%2==0){ $class.= ' last-tab'; } ?>
	<? if($i%3==0){ $class.= ' last-desk'; } ?>
	<a href="<?=$url?>" class="noticia <?=$class?>">
		<? if($img){ ?>
		<span class="img" <?=$style?>>
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</span>
		<? } // /if $img ?>
		<?=$row->titulo?>
	</a>

	<? if($i%2==0){ ?><br class="mobile-tablet"><? } ?>
	<? if($i%3==0){ ?><br class="desktop"><? } ?>
	
	<? } // /foreach this->noticias ?>
</div>