<div id="noticias" class="main-center interna">
	<h1><?=$this->titulo?></h1>

	<? $row = $this->noticia; ?>
	<div class="noticia-interna">
		<? if((bool)trim($row->capa_path)){ ?>
		<? $img = IMG_URL.'/noticias/'.$row->capa_path; ?>
		<figure class="img">
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</figure>
		<? } // /if (bool)trim($row->capa_path) ?>

		<h2 class="titulo">
			<?=$row->titulo?>
		</h2>
		
		<div class="body">
			<?=$row->body?>
		</div>
	</div>

	<nav id="noticias-list">
		<ul>
			<? foreach($this->noticias as $row){ ?>
			<? $img = IMG_URL.'/not-found.jpg'; ?>
			<? if((bool)trim($row->capa_path)){ $img = IMG_URL.'/noticias/'.$row->capa_path; }
				else if((bool)trim($row->foto_path)){ $img = IMG_URL.'/noticias/'.$row->foto_path; } ?>
			<? $class = $img ? 'has-img' : 'no-img'; ?>
			<? $style = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
			<li>
				<a href="<?=$row->_url?>" class="noticia <?=$class?>" <?=$style?>>
					<span><?=$row->titulo?></span>
				</a>
			</li>
			<? } // /foreach this->noticias ?>
		</ul>

		<a href="<?=URL?>/noticias" class="mais-noticias">
			Mais notícias
		</a>
	</nav>
</div>