<div class="search-bar">
    <div class="export">
        <a href="<?=export_url($this->section,'csv')?>" class="csv" title="Exportar para Excel">Exportar</a>
        <!-- <a href="<?=export_url($this->section,'pdf')?>" class="pdf" title="Exportar para PDF">Exportar para PDF</a> -->
        <!-- <a href="#" class="print" title="Imprimir">Imprimir</a> -->
    </div>

    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label> 
        <? $options = array(
            "nome"=>"Nome",
            // "email"=>"E-mail",
            // "empresa"=>"Empresa",
        ); ?>
        <? if(@$this->tipo==2) { $options["area"] = 'Área'; } ?>
        <? //if(@$this->tipo==3) { $options["area"] = 'E-book'; } ?>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),$options)?>
        <? if(@$_POST['search-by']=='area')
            echo $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),Application_Model_Db_Arquivos::area());
        else 
            echo $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt')); ?>
        <? if((bool)$this->tipo){ ?>
        <input type="hidden" name="tipo" value="<?=$this->tipo?>">
        <? } ?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>